{% block adhList %}
	<h3>Liste des adhérents</h3>
    <table class="table">
		<thead>
			<tr>
				<th scope="col">N°</th>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
                <th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for adherent in adherent %}
				<tr>
					<td>{{ adherent.id }}</td>
                    <td>{{ adherent.nom }}</td>
                    <td>{{ adherent.prenom }}</td>
					<td>
						<a href="{{ path('edit_adh', {'adherent' : adherent.id}) }}">modifier</a>
						<form style="display: inline;" method="post" action="{{ path('adh_del', {'adherent': adherent.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adherent.id) }}">
                            <button class="btn">Supprimer</button>
                        </form>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="2">no records found</td>
                    <td colspan="2">no records found</td>
                    <td colspan="2">no records found</td>
                    <td colspan="2">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('add_adh') }}">AJOUTER</a>
{% endblock %}
