{% extends 'base.html.twig' %}

{% block title %}ADHERENTS &mdash;
	{{ parent() }}
{% endblock %}

{% block entête %}
	{% block navigation %}
		<ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
			<li><a href="{{path('livres')}}"><span>LIVRES</span></a></li>
			<li class="has-children active">
				<a href="{{path('adherent')}}"><span>ADHERENTS</span></a>
				<ul class="dropdown">
					<li><a href="{{path('adherent')}}">LISTE DES ADHERENTS</a></li>
					<li><a href="{{path('add_adh')}}">INSCRIPTION</a></li>
					<li><a href="{{path('add_emp')}}">EMPRUNTS</a></li>
				</ul>
			</li>
		</ul>
	{% endblock %}
{% endblock %}

{% block content %}
	<div class="container">
			<!--Tableau: liste des adhérents-->
			{% block adhList %}
				{% include "adherent/AdhTab.html.twig" %}
			{% endblock %}
		
	</div>
{% endblock %}
