{% block empList %}
	<h3>Liste des emprunts</h3>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">N°</th>
				<th scope="col">Adhérent</th>
				<th scope="col">Livre</th>
				<th scope="col">Date d'emprunt</th>
				<th scope="col">Date de retour</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for emprunt in emprunts %}
				<tr>
					<td>{{ emprunt.id }}</td>
					<td>{{ emprunt.adherent }}</td>
					<td>{{ emprunt.emprunts }}</td>
					<td>{{ emprunt.dateEmp }}</td>
					<td>{{ emprunt.dateRet }}</td>
					<td>
						<a href="{{ path('emp_edit', {'id': emprunt.id}) }}">prolonger</a>
						<a href="{{ path('emp_del', {'id': emprunt.id}) }}">Rendre</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="2">no records found</td>
					<td colspan="2">no records found</td>
					<td colspan="2">no records found</td>
					<td colspan="2">no records found</td>
					<td colspan="2">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('add_emp') }}">Ajouter</a>

{% endblock %}
