{% block empList %}
	<h3>Liste des emprunts</h3>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">N°</th>
				<th scope="col">Adhérent</th>
				<th scope="col">Livre</th>
				<th scope="col">Date d'emprunt</th>
				<th scope="col">Date de retour</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for emprunt in emprunts %}
				<tr>
					<td>{{ emprunt.id }}</td>
					<td>{{ emprunt.adherent }}</td>
					<td>{{ emprunt.emprunts }}</td>
					<td>{{ emprunt.dateEmp | date('Y-m-d') }}</td>
					<td>{{ emprunt.dateRet | date('Y-m-d') }}</td>
					<td>
						<a href="{{ path('edit_emp', {'emprunt' : emprunt.id}) }}">prolonger</a>
						<form style="display: inline;" method="post" action="{{ path('emp_del', {'emprunt': emprunt.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emprunt.id) }}">
                            <button class="btn">Supprimer</button>
                        </form>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="2">no records found</td>
					<td colspan="2">no records found</td>
					<td colspan="2">no records found</td>
					<td colspan="2">no records found</td>
					<td colspan="2">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('add_emp') }}">Ajouter</a>

{% endblock %}
