{% extends 'base.html.twig' %}

{% block title %}LIVRES &mdash;
	{{ parent() }}
{% endblock %}


{% block entête %}
	{% block navigation %}
		<ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
			<li class="active"><a href="{{path('livres')}}"><span>LIVRES</span></a></li>
			<li class="has-children">
				<a href="{{path('adherent')}}"><span>ADHERENTS</span></a>
				<ul class="dropdown">
					<li><a href="{{path('adherent')}}">LISTE DES ADHERENTS</a></li>
					<li><a href="{{path('add_adh')}}">INSCRIPTION</a></li>
					<li><a href="{{path('add_emp')}}">EMPRUNTS</a></li>
				</ul>
			</li>
		</ul>
	{% endblock %}
{% endblock %}

{% block content %}

	<div class = "container">
		<div class = "row">
			<!--Tableau: liste des livres-->
			<div class = "col">
				{% block livList %}
					{% include "livres/livTab.html.twig" %}
				{% endblock %}
			</div>
			<div class = "col">
				<!--Liste des emprunts: tableau-->
				{% block empList %}
					{% include "emprunt/index.html.twig" %}
				{% endblock %}

			</div>
		</div>

	</div>
{% endblock %}
