{% block livList %}
	<h3>Liste des livres</h3>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">N°</th>
				<th scope="col">Titre</th>
				<th scope="col">Auteur</th>
				<th scope="col">Disponibilité</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for livre in livres %}
				<tr>
					<td>{{ livre.id }}</td>
					<td>{{ livre.titre }}</td>
					<td>{{ livre.auteur }}</td>
                    <td>{% if livre.disponible %}Oui{% else %}Non{% endif %}</td>
					<td>
						<a href="{{ path('livEdit', {'livre' : livre.id}) }}">modifier</a>
                        <form style="display: inline;" method="post" action="{{ path('livDel', {'livre': livre.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livre.id) }}">
                            <button class="btn">Supprimer</button>
                        </form>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="2">no records found</td>
					<td colspan="2">no records found</td>
					<td colspan="2">no records found</td>
					<td colspan="2">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('livAdd') }}" title="Ajouter">Ajouter</a>
{% endblock %}
